.main {
  display: flex;
  direction: column;
  flex-direction: column;
  border: 1px solid green;
  width: 90%;

  .container {
    display: flex;
    // direction: column;

    .form {
      border: 1px solid red;
      background: #d3d3fa;
      // padding: 10px;
    }

    :global {
      form {
        // border: 1px solid purple;
        flex-direction: column;
        display: flex;
        margin-top: 100%;
        margin-right: 20px;

        .mb-3 {
          // border: 1px solid blue;
          display: flex;
          flex-direction: row;
          // margin-bottom: 0px !important;
          margin-bottom: 4px !important;

          input {
            display: flex;
            // margin-bottom: 0px;
            min-width: 80px;
            max-width: 120px;
            justify-content: flex-end;
          }

          label {
            display: flex;
            margin-bottom: 0px;
            background: #c6c6c6;
            white-space: nowrap;
            min-width: 120px;
            justify-content: flex-end;
          }
        }
      }
    }
  }
}
